
#contact-us {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#contact-us h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#contact-us p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.contact-info {
    flex: 1;
    max-width: 400px;
    text-align: left;
}

.contact-info h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}

.contact-info a {
    color: #d35400;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    flex: 1;
    max-width: 400px;
}

.contact-form h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #d35400;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #a84300;
}


@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
}
 